@font-face {
  font-family: "iconfont"; /* Project id 3492201 */
  src: url('iconfont.woff2?t=1658372310475') format('woff2'),
       url('iconfont.woff?t=1658372310475') format('woff'),
       url('iconfont.ttf?t=1658372310475') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
  content: "\e60c";
}

.icon-del:before {
  content: "\e6c9";
}

.icon-back:before {
  content: "\e60d";
}

